rabbitmq:
  erlang_cookie: MyCookier

  plugins:
    - rabbitmq_management
    - rabbitmq_management_visualiser

  # nodes:
  #   - rabbitmq1
  #   - rabbitmq2
  #   - rabbitmq3

  vhosts:
    '/':
      state: absent

    '/bla': {}

  policies:
    central:
      vhost: '/bla'
      pattern: '^central\.'
      definition: '{"ha-mode": "all", "ha-sync-mode": "automatic", "message-ttl": 1800000}'

  users:
    guest:
      state: absent

    admin:
      password: secret-password
      tags: administrator
      perms:
        - '/bla':
          - '.*'
          - '.*'
          - '.*'
